<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myweb</title>
    <style>
        body{
            background-color: #daf;
            font-size:medium;
        }
        .nv{
            background-color: #add;font-size: 1rem;padding-top: 1rem;justify-items: right;
            top:0%;left:0% ;right: 0%;}
        a{
            font-size: large;padding: 3rem;}
        h1{
            display: block;justify-self: center;font-size: large;
        }
    </style>
    </head>
<body>
    <div class="nv">
        <nav>
        <a href="{% url 'home' %}"> Home</a> |
        <a href="{% url 'about' %}">About</a>
        
    </nav>
    <h1>Welcome to the Programming Encyclopedia </h1>
</div>
    {%block content%}
    {%endblock%}
</body>

</html>